
<h1 class="text-xl text-center font-bold">Log in</h1>
<div class="grid place-items-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field basis-auto">
      <%= f.label :email, class: "font-bold mx-2 my-4 text-lg" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border" %>
    </div>

    <div class="field basis-auto">
      <%= f.label :password, class: "font-bold mx-2 my-4 text-lg" %><br/>
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded-md border" %>
    </div>

    <%= render "devise/shared/links" %>

    <div class="actions basis-auto">
      <%= f.submit "Log in", class: "text-base border p-2 bg-sky-500 hover:bg-sky-600 my-2 font-bold rounded-md" %>
    </div>
  <% end %>
</div>