<div id="<%= dom_id food %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= food.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Measurement unit:</strong>
    <%= food.measurement_unit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= food.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= food.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= food.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this food", food, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>



<table class="table-auto">
  <thead>
    <tr>
      <th>food</th>
      <th>measurement unit</th>
      <th>unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food|%>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td>$<%= food.price %></td>
      <td><%= button_to 'Delete', food_path(food.id), :method => :delete %></td>
    </tr>
  <% end %>  
  </tbody>
</table>

</div>
